
<%- include('../../partials/header.ejs') %>

<div class="row">
    <div class="col mx-auto text-center mt-5">
        <form action="/auth/changePass" method="POST" class="form">
            <label for="opassword" class="text-center lead">Enter Old Password</label>
            <input type="password" name="opassword" id="opassword" class=" form-control w-25 mx-auto" required>
            <label for="password" class="text-center lead">Enter New Password</label>
            <input type="password" name="password" id="password" class=" form-control w-25 mx-auto" required>
            <label for="cpassword" class="text-center lead">Confirm New Password</label>
            <input type="password" name="cpassword" id="cpassword" class=" form-control w-25 mx-auto" required>
            <button class="btn btn-primary mt-3" class="text-center lead">Change Password</button>
            </form>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>