
<%- include('../../partials/header.ejs') %>

<div class="row">
    <div class="col">
        <form action="/auth/forgotPass" method="POST">
            <input type="hidden" name="getEmail" id="getEmail" value="<%=user.email%>">
            <label for="password">Enter New Password</label>
            <input type="password" name="password" id="password" class=" form-inline" required>
            <label for="cpassword">Confirm New Password</label>
            <input type="password" name="cpassword" id="cpassword" class=" form-inline" required>
            <button class="btn btn-primary">Change Password</button>
            </form>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>