
<%- include('../../partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/auth/verifyEmail" method="POST">
              
                <label for="email">Enter Your Email</label>
                <input type="email" name="email" id="email" class=" form-inline">
                <br>
                <button class="btn btn-primary">Verify User</button>
                </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>